
# Data wrangling WeRateDogs
By Nirmil Shah


## Table of Contents:

1. Introduction
* Gathering data
* Assessing data
* Cleaning data
* Storing, 
* Analyzing, and Visualizing


## Introduction
The purpose of this project is to put in practice what I learned in data wrangling data section from Udacity Data Analysis Nanodegree program. The dataset that is wrangled is the tweet archive of Twitter user @dog_rates, also known as WeRateDogs.

In [225]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tweepy
import requests
import time
import json
import re

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Gathering Data


Twitter archive file: download this file manually by clicking the following link: twitter_archive_enhanced.csv

The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

Twitter API & JSON: Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

In [226]:
# import dataset
PATH = ""
!ls {PATH}

act_report.ipynb       tweet_json.txt		     twitter_archive_master.csv
image-predictions.tsv  twitter-archive-enhanced.csv  wrangle_act.ipynb

In [227]:
df_tarchive = pd.read_csv(f'{PATH}twitter-archive-enhanced.csv', low_memory=False)
#tarchive.set_index('tweet_id', inplace=True)
df_tarchive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [228]:
image_url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
r = requests.get(image_url)

with open(image_url.split('/')[-1], mode='wb') as file:
    file.write(r.content)

df_images = pd.read_csv('image-predictions.tsv', sep='\t')
df_images.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

In [5]:
# Twitter API setup

consumer_key = 'hidden'
consumer_secret = 'hidden'
access_token = 'hidden'
access_secret = 'hidden'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

#api = tweepy.API(auth)
api = tweepy.API(auth, 
                 parser=tweepy.parsers.JSONParser(), 
                 wait_on_rate_limit=True,
                 wait_on_rate_limit_notify = True)

In [ ]:
# For loop which will add each available tweet json to df_list

api_data = []

exceptions = []

tweet_ids = df_tarchive.tweet_id
# Calculate the time of execution
start = time.time()

for tweet_id in tweet_ids:
    try:
        tweet = api.get_status(tweet_id, tweet_mode='extended')
        favorites = tweet['favorite_count'] # How many favorites the tweet had
        retweets = tweet['retweet_count'] # Count of the retweet
        user_followers = tweet['user']['followers_count'] # How many followers the user had
        user_favourites = tweet['user']['favourites_count'] # How many favorites the user had
        date_time = tweet['created_at'] # The date and time of the creation
        
        api_data.append({'tweet_id': int(tweet_id),
                        'favorites': int(favorites),
                        'retweets': int(retweets),
                        'user_followers': int(user_followers),
                        'user_favourites': int(user_favourites),
                        'date_time': pd.to_datetime(date_time)})
    except Exception as e:
        print(str(tweet_id)+ " _ " + str(e))
        exceptions.append(tweet_id)
# Calculate the time of excution
end = time.time()
print(end - start)

In [ ]:
# showing exception errrors
exceptions

In [ ]:
# length of fetched data and errors
len(api_data), len(exceptions)

In [28]:
# checking fecthed data
api_data[1]

{'tweet_id': 892177421306343426,
 'favorites': 31559,
 'retweets': 5779,
 'user_followers': 8653590,
 'user_favourites': 144477,
 'date_time': Timestamp('2017-08-01 00:17:27')}

In [ ]:
# saving dataframe in file "tweet_json.txt" for futher use
api_tweet_data.to_csv('tweet_json.txt', encoding= 'utf-8', index=False)

In [229]:
# import tweet_json.txt into dataframe
df_tweet = pd.read_csv('tweet_json.txt', encoding='utf-8')
df_tweet.head(2)

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
0,892420643555336193,36629,7803,8653592,144477,2017-08-01 16:23:56
1,892177421306343426,31559,5779,8653590,144477,2017-08-01 00:17:27

In [230]:
# assesing data
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 6 columns):
tweet_id           2331 non-null int64
favorites          2331 non-null int64
retweets           2331 non-null int64
user_followers     2331 non-null int64
user_favourites    2331 non-null int64
date_time          2331 non-null object
dtypes: int64(5), object(1)
memory usage: 109.3+ KB

### Gathering Summary
- Gathered data from an existing file
- Gathered data programatically using requests
- Gathered data from Twitter API using Tweepy into JSON format

# Assesing Data

In [231]:
df_tarchive.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [232]:
df_tarchive.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [233]:
# descriptive stats
df_tarchive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [234]:
df_tarchive.name.value_counts()

None            745
a                55
Charlie          12
Lucy             11
Oliver           11
Cooper           11
Penny            10
Lola             10
Tucker           10
Bo                9
Winston           9
the               8
Sadie             8
Bailey            7
Toby              7
Daisy             7
Buddy             7
an                7
Milo              6
Bella             6
Koda              6
Scout             6
Rusty             6
Dave              6
Stanley           6
Leo               6
Oscar             6
Jack              6
Jax               6
Finn              5
               ...
Geno              1
Cermet            1
DonDon            1
Clybe             1
Herb              1
Ralpher           1
Vince             1
Carll             1
Cannon            1
Teddy             1
Genevieve         1
Noah              1
Mason             1
Alexanderson      1
Laela             1
Keet              1
Striker           1
Cedrick           1
Ralf              1
Benny             1
Gilbert           1
Milky             1
Chuq              1
Meatball          1
Harlso            1
Chadrick          1
Newt              1
Jomathan          1
Boston            1
Timofy            1
Name: name, Length: 957, dtype: int64

In [235]:
df_tarchive.name.isnull().sum()

0

In [236]:
df_tarchive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [237]:
df_tarchive.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [238]:
df_tarchive.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [239]:
# View number of entries for each source
df_tarchive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [240]:
#rating_numerator that don't follow pattern
len(df_tarchive[df_tarchive['rating_numerator'] > 20])

24

In [241]:
# unusual names like a, an
len(df_tarchive[df_tarchive.name.apply(len)<3])

79

In [242]:
# checking original tweets through retweeted_status_id which would be null
df_tarchive[df_tarchive.retweeted_status_id.isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [243]:
df_images.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [244]:
df_images.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [245]:
df_images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [246]:
df_images.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [247]:
df_images.jpg_url.value_counts()

https://pbs.twimg.com/media/Cs_DYr1XEAA54Pu.jpg    2
https://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg    2
https://pbs.twimg.com/media/CYLDikFWEAAIy1y.jpg    2
https://pbs.twimg.com/media/Ck2d7tJWUAEPTL3.jpg    2
https://pbs.twimg.com/media/C3nygbBWQAAjwcW.jpg    2
https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg    2
https://pbs.twimg.com/media/CtzKC7zXEAALfSo.jpg    2
https://pbs.twimg.com/media/CtKHLuCWYAA2TTs.jpg    2
https://pbs.twimg.com/media/CU3mITUWIAAfyQS.jpg    2
https://pbs.twimg.com/media/Crwxb5yWgAAX5P_.jpg    2
https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg    2
https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg    2
https://pbs.twimg.com/media/C12x-JTVIAAzdfl.jpg    2
https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg    2
https://pbs.twimg.com/media/CV_cnjHWUAADc-c.jpg    2
https://pbs.twimg.com/media/CvJCabcWgAIoUxW.jpg    2
https://pbs.twimg.com/media/CrXhIqBW8AA6Bse.jpg    2
https://pbs.twimg.com/media/CsGnz64WYAEIDHJ.jpg    2
https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg    2
https://pbs.twimg.com/media/Cwx99rpW8AMk_Ie.jpg    2
https://pbs.twimg.com/media/CwJR1okWIAA6XMp.jpg    2
https://pbs.twimg.com/media/CiibOMzUYAA9Mxz.jpg    2
https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg    2
https://pbs.twimg.com/media/CeRoBaxWEAABi0X.jpg    2
https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg    2
https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg    2
https://pbs.twimg.com/media/CtVAvX-WIAAcGTf.jpg    2
https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg    2
https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg    2
https://pbs.twimg.com/media/Cveg1-NXgAASaaT.jpg    2
                                                  ..
https://pbs.twimg.com/media/CUyDgChWUAAmNSI.jpg    1
https://pbs.twimg.com/media/CUd5gBGWwAA0IVA.jpg    1
https://pbs.twimg.com/media/CYyucekVAAESj8K.jpg    1
https://pbs.twimg.com/media/Cq_Vy9KWcAIUIuv.jpg    1
https://pbs.twimg.com/media/CZNzV6cW0AAsX7p.jpg    1
https://pbs.twimg.com/media/CVq2UHwWEAAduMw.jpg    1
https://pbs.twimg.com/media/DBwr_hzXkAEnZBW.jpg    1
https://pbs.twimg.com/media/CcPNS4yW8AAd-Et.jpg    1
https://pbs.twimg.com/media/CmnluwbXEAAqnkw.jpg    1
https://pbs.twimg.com/media/C0khWkVXEAI389B.jpg    1
https://pbs.twimg.com/media/Cez49UqWsAIRQXc.jpg    1
https://pbs.twimg.com/media/CUNHMXTU8AAS3HH.jpg    1
https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg    1
https://pbs.twimg.com/media/CUi5M7TXIAAY0gj.jpg    1
https://pbs.twimg.com/media/CU3NE8EWUAEVdPD.jpg    1
https://pbs.twimg.com/media/CfkXiX6W4AAmICF.jpg    1
https://pbs.twimg.com/media/CW-ZRC_WQAAyFrL.jpg    1
https://pbs.twimg.com/media/CcMBJODUsAI5-A9.jpg    1
https://pbs.twimg.com/media/C_4-8iPV0AA1Twg.jpg    1
https://pbs.twimg.com/media/CV_r3v4VAAALvwg.jpg    1
https://pbs.twimg.com/media/CaZBErSWEAEdXk_.jpg    1
https://pbs.twimg.com/media/CZiBcJhWQAATXNK.jpg    1
https://pbs.twimg.com/media/DD0pWm9XcAAeSBL.jpg    1
https://pbs.twimg.com/media/CbiKe7-W0AIVNNr.jpg    1
https://pbs.twimg.com/media/C33P8PrUcAMiQQs.jpg    1
https://pbs.twimg.com/media/CXMBhXfWEAA4mMI.jpg    1
https://pbs.twimg.com/media/CUttjYtWcAAdPgI.jpg    1
https://pbs.twimg.com/media/CVWJkJXWsAInlZl.jpg    1
https://pbs.twimg.com/media/Cjt_Hm6WsAAjkPG.jpg    1
https://pbs.twimg.com/media/CWSEsO9WwAAX-fZ.jpg    1
Name: jpg_url, Length: 2009, dtype: int64

In [248]:
df_images.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [249]:
# checkinng rows just to make sure if we have equal rows to df_archive
df_images.shape

(2075, 12)

In [250]:
df_images.jpg_url.duplicated().sum()

66

In [251]:
df_images.tweet_id.duplicated().sum()

0

In [252]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 6 columns):
tweet_id           2331 non-null int64
favorites          2331 non-null int64
retweets           2331 non-null int64
user_followers     2331 non-null int64
user_favourites    2331 non-null int64
date_time          2331 non-null object
dtypes: int64(5), object(1)
memory usage: 109.3+ KB

In [253]:
df_tweet.tweet_id.duplicated().sum()

0

In [254]:
df_tweet.isnull().sum()

tweet_id           0
favorites          0
retweets           0
user_followers     0
user_favourites    0
date_time          0
dtype: int64

### Content Issues:--
#### Quality Issues:-
- df_tarchive
    2. Removing columns and rows that we don't need. Need only original tweets that have images
    3. Drop unnecessary columns from df_tarchive_copy related to retweet
    4. Change datatype of TimeStamp into DateTime.
    5. Create 1 column for image prediction and 1 column for confidence level.
    6. Removing unnecessary columns from combined dataset i.e df_merged
    7. Sources are difficult to read. Clean the content of source column.
    8. Replacing Null to NaN in all column
    9. Numerator and Denominator column has invalid values.
    10. Name has invalid names like a, an around 79
  
    
- df_images
    11. Missing values from images dataset (2075 rows instead of 2356)
    12. Some tweet_ids have the same jpg_url. There are 66 duplicated jpg_url
    13. Some tweets are have 2 different tweet_id one redirect to the other (Dataset contains retweets).
    14. Drop unnecessary columns
        
    
- df_tweet
    15. Drop date_time from df_tweet

#### Tidiness Issues:- 
    1. Melt the 'doggo', 'floofer', 'pupper' and 'puppo' columns into one column 'dog_breed'.
    16. All tables should be part of one dataset

## Cleaning data:

In [255]:
# make copy of our original data
df_tarchive_copy = df_tarchive.copy()
df_images_copy = df_images.copy()
df_tweet_copy = df_tweet.copy()

In [256]:
df_tarchive[df_tarchive.tweet_id == 855851453814013952]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
191,855851453814013952,NaN,NaN,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/855851453...,13,10,None,doggo,None,None,puppo

### 16. All tables should be part of one dataset

In [257]:
df_merged = pd.merge(left=df_tarchive_copy,
                        right=df_tweet_copy,
                        left_on='tweet_id', right_on='tweet_id',
                        how='inner')

In [258]:
df_merged = df_merged.merge(df_images_copy, on = 'tweet_id', how = 'inner')

In [259]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2059 entries, 0 to 2058
Data columns (total 33 columns):
tweet_id                      2059 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2059 non-null object
source                        2059 non-null object
text                          2059 non-null object
retweeted_status_id           72 non-null float64
retweeted_status_user_id      72 non-null float64
retweeted_status_timestamp    72 non-null object
expanded_urls                 2059 non-null object
rating_numerator              2059 non-null int64
rating_denominator            2059 non-null int64
name                          2059 non-null object
doggo                         2059 non-null object
floofer                       2059 non-null object
pupper                        2059 non-null object
puppo                         2059 non-null object
favorites                     2059 non-null int64
retweets                      2059 non-null int64
user_followers                2059 non-null int64
user_favourites               2059 non-null int64
date_time                     2059 non-null object
jpg_url                       2059 non-null object
img_num                       2059 non-null int64
p1                            2059 non-null object
p1_conf                       2059 non-null float64
p1_dog                        2059 non-null bool
p2                            2059 non-null object
p2_conf                       2059 non-null float64
p2_dog                        2059 non-null bool
p3                            2059 non-null object
p3_conf                       2059 non-null float64
p3_dog                        2059 non-null bool
dtypes: bool(3), float64(7), int64(8), object(15)
memory usage: 504.7+ KB

In [260]:
df_merged.shape

(2059, 33)

### 1. Melt the 'doggo', 'floofer', 'pupper' and 'puppo' columns into one column 'dog_breed'.

Melt the doggo, floofer, pupper and puppo columns to dogs and dogs_stage column. Then drop dogs. Sort by dogs_stage in order to then drop duplicated based on tweet_id except for the last occurrence.

In [261]:
value_vars =['doggo','floofer','pupper','puppo']
id_vars = [x for x in df_merged.columns.tolist() if x not in value_vars]
df_merged = pd.melt(df_merged, 
                           id_vars = id_vars,
                            value_vars = value_vars,
                            var_name='dogs', value_name='dogs_stage'
                            )

In [262]:
# Dropping unnecssary column 'dogs' from df_tarchive_copy
df_merged.drop('dogs', axis=1, inplace=True)

In [263]:
#CODE: Sort by dogs_stage then drop duplicated based on tweet_id except the last occurrence
df_merged = df_merged.sort_values('dogs_stage').drop_duplicates(subset='tweet_id', keep='last')

In [264]:
# Testing that we have all the data
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2059 entries, 1982 to 7053
Data columns (total 30 columns):
tweet_id                      2059 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2059 non-null object
source                        2059 non-null object
text                          2059 non-null object
retweeted_status_id           72 non-null float64
retweeted_status_user_id      72 non-null float64
retweeted_status_timestamp    72 non-null object
expanded_urls                 2059 non-null object
rating_numerator              2059 non-null int64
rating_denominator            2059 non-null int64
name                          2059 non-null object
favorites                     2059 non-null int64
retweets                      2059 non-null int64
user_followers                2059 non-null int64
user_favourites               2059 non-null int64
date_time                     2059 non-null object
jpg_url                       2059 non-null object
img_num                       2059 non-null int64
p1                            2059 non-null object
p1_conf                       2059 non-null float64
p1_dog                        2059 non-null bool
p2                            2059 non-null object
p2_conf                       2059 non-null float64
p2_dog                        2059 non-null bool
p3                            2059 non-null object
p3_conf                       2059 non-null float64
p3_dog                        2059 non-null bool
dogs_stage                    2059 non-null object
dtypes: bool(3), float64(7), int64(8), object(12)
memory usage: 456.4+ KB

In [265]:
#TEST
df_merged['dogs_stage'].value_counts()

None       1741
pupper      221
doggo        65
puppo        24
floofer       8
Name: dogs_stage, dtype: int64

In [266]:
df_merged[df_merged.tweet_id == 855851453814013952]['text']

6328    Here's a puppo participating in the #ScienceMa...
Name: text, dtype: object

In [267]:
df_merged[df_merged.tweet_id == 855851453814013952]['dogs_stage']

6328    puppo
Name: dogs_stage, dtype: object

### 2. Removing columns and rows that we don't need. Need only original tweets that have images.

In [268]:
df_merged = df_merged[df_merged.retweeted_status_id.isnull()]

In [269]:
df_merged = df_merged.drop_duplicates()

In [270]:
# Testing that we have all the data we need
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 1982 to 7053
Data columns (total 30 columns):
tweet_id                      1987 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     1987 non-null object
source                        1987 non-null object
text                          1987 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1987 non-null object
rating_numerator              1987 non-null int64
rating_denominator            1987 non-null int64
name                          1987 non-null object
favorites                     1987 non-null int64
retweets                      1987 non-null int64
user_followers                1987 non-null int64
user_favourites               1987 non-null int64
date_time                     1987 non-null object
jpg_url                       1987 non-null object
img_num                       1987 non-null int64
p1                            1987 non-null object
p1_conf                       1987 non-null float64
p1_dog                        1987 non-null bool
p2                            1987 non-null object
p2_conf                       1987 non-null float64
p2_dog                        1987 non-null bool
p3                            1987 non-null object
p3_conf                       1987 non-null float64
p3_dog                        1987 non-null bool
dogs_stage                    1987 non-null object
dtypes: bool(3), float64(7), int64(8), object(12)
memory usage: 440.5+ KB

### 3. Drop unnecessary columns from df_tarchive_copy related to retweet

In [271]:
df_merged.drop(['retweeted_status_id',
                     'retweeted_status_user_id',
                       'retweeted_status_timestamp'],
                     axis = 1, inplace = True)

In [272]:
# checking if we have deleted the above columns
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 1982 to 7053
Data columns (total 27 columns):
tweet_id                 1987 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                1987 non-null object
source                   1987 non-null object
text                     1987 non-null object
expanded_urls            1987 non-null object
rating_numerator         1987 non-null int64
rating_denominator       1987 non-null int64
name                     1987 non-null object
favorites                1987 non-null int64
retweets                 1987 non-null int64
user_followers           1987 non-null int64
user_favourites          1987 non-null int64
date_time                1987 non-null object
jpg_url                  1987 non-null object
img_num                  1987 non-null int64
p1                       1987 non-null object
p1_conf                  1987 non-null float64
p1_dog                   1987 non-null bool
p2                       1987 non-null object
p2_conf                  1987 non-null float64
p2_dog                   1987 non-null bool
p3                       1987 non-null object
p3_conf                  1987 non-null float64
p3_dog                   1987 non-null bool
dogs_stage               1987 non-null object
dtypes: bool(3), float64(5), int64(8), object(11)
memory usage: 393.9+ KB

In [273]:
# Drop Duplicates dog_breed
df_merged.sort_values('dogs_stage').drop_duplicates(['tweet_id'], inplace=True)

In [274]:
# checking all the dog breed 
df_merged.dogs_stage.value_counts()

None       1682
pupper      212
doggo        62
puppo        23
floofer       8
Name: dogs_stage, dtype: int64

### 4. Change datatype of TimeStamp into DateTime.

In [275]:
df_merged.timestamp = pd.to_datetime(df_merged.timestamp)

In [276]:
df_merged.dtypes

tweet_id                          int64
in_reply_to_status_id           float64
in_reply_to_user_id             float64
timestamp                datetime64[ns]
source                           object
text                             object
expanded_urls                    object
rating_numerator                  int64
rating_denominator                int64
name                             object
favorites                         int64
retweets                          int64
user_followers                    int64
user_favourites                   int64
date_time                        object
jpg_url                          object
img_num                           int64
p1                               object
p1_conf                         float64
p1_dog                             bool
p2                               object
p2_conf                         float64
p2_dog                             bool
p3                               object
p3_conf                         float64
p3_dog                             bool
dogs_stage                       object
dtype: object

### 5. Create 1 column for image prediction and 1 column for confidence level.

In [277]:
# writing an prediction_confidence function
# we are going to check if prediction is true, if yes then going to append prediction and confidence to their respective columns

pred_algo = []
conf_level = []

def pred_conf(dataframe):
    if dataframe['p1_dog'] == True:
        pred_algo.append(dataframe['p1'])
        conf_level.append(dataframe['p1_conf'])
    elif dataframe['p2_dog'] == True:
        pred_algo.append(dataframe['p2'])
        conf_level.append(dataframe['p2_conf'])
    elif dataframe['p3_dog'] == True:
        pred_algo.append(dataframe['p3'])
        conf_level.append(dataframe['p3_conf'])
    else:
        pred_algo.append('NaN')
        conf_level.append(0)

In [278]:
# calling pred_conf function 
df_merged.apply(pred_conf, axis = 1)
df_merged['pred_algo'] = pred_algo
df_merged['conf_level'] = conf_level

In [279]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 1982 to 7053
Data columns (total 29 columns):
tweet_id                 1987 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                1987 non-null datetime64[ns]
source                   1987 non-null object
text                     1987 non-null object
expanded_urls            1987 non-null object
rating_numerator         1987 non-null int64
rating_denominator       1987 non-null int64
name                     1987 non-null object
favorites                1987 non-null int64
retweets                 1987 non-null int64
user_followers           1987 non-null int64
user_favourites          1987 non-null int64
date_time                1987 non-null object
jpg_url                  1987 non-null object
img_num                  1987 non-null int64
p1                       1987 non-null object
p1_conf                  1987 non-null float64
p1_dog                   1987 non-null bool
p2                       1987 non-null object
p2_conf                  1987 non-null float64
p2_dog                   1987 non-null bool
p3                       1987 non-null object
p3_conf                  1987 non-null float64
p3_dog                   1987 non-null bool
dogs_stage               1987 non-null object
pred_algo                1987 non-null object
conf_level               1987 non-null float64
dtypes: bool(3), datetime64[ns](1), float64(6), int64(8), object(11)
memory usage: 425.0+ KB

### 6. Removing unnecessary columns from combined dataset i.e df_merged

In [280]:
df_merged.drop(['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], axis=1, inplace=True)

In [281]:
df_merged.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'user_favourites'], axis=1, inplace=True)

In [282]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 1982 to 7053
Data columns (total 16 columns):
tweet_id              1987 non-null int64
timestamp             1987 non-null datetime64[ns]
source                1987 non-null object
text                  1987 non-null object
expanded_urls         1987 non-null object
rating_numerator      1987 non-null int64
rating_denominator    1987 non-null int64
name                  1987 non-null object
favorites             1987 non-null int64
retweets              1987 non-null int64
user_followers        1987 non-null int64
date_time             1987 non-null object
jpg_url               1987 non-null object
dogs_stage            1987 non-null object
pred_algo             1987 non-null object
conf_level            1987 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(8)
memory usage: 263.9+ KB

In [283]:
df_merged.head(2)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,date_time,jpg_url,dogs_stage,pred_algo,conf_level
1982,667435689202614272,2015-11-19 20:14:03,"<a href=""http://twitter.com/download/iphone"" r...",Ermergerd 12/10 https://t.co/PQni2sjPsm,https://twitter.com/dog_rates/status/667435689...,12,10,None,298,82,8653672,2015-11-19 20:14:03,https://pbs.twimg.com/media/CUM1OHCW4AEgGSi.jpg,None,Rottweiler,0.999091
1981,667437278097252352,2015-11-19 20:20:22,"<a href=""http://twitter.com/download/iphone"" r...",Never seen this breed before. Very pointy pup....,https://twitter.com/dog_rates/status/667437278...,10,10,None,437,227,8653672,2015-11-19 20:20:22,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,None,NaN,0.000000

### 7. Sources are difficult to read. Clean the content of source column.

In [284]:
df_merged['source'] = df_merged['source'].apply(lambda x: re.findall(r'>(.*)<', x)[0])

In [285]:
df_merged.head(2)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,date_time,jpg_url,dogs_stage,pred_algo,conf_level
1982,667435689202614272,2015-11-19 20:14:03,Twitter for iPhone,Ermergerd 12/10 https://t.co/PQni2sjPsm,https://twitter.com/dog_rates/status/667435689...,12,10,None,298,82,8653672,2015-11-19 20:14:03,https://pbs.twimg.com/media/CUM1OHCW4AEgGSi.jpg,None,Rottweiler,0.999091
1981,667437278097252352,2015-11-19 20:20:22,Twitter for iPhone,Never seen this breed before. Very pointy pup....,https://twitter.com/dog_rates/status/667437278...,10,10,None,437,227,8653672,2015-11-19 20:20:22,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,None,NaN,0.000000

In [286]:
# removing date_time col
df_merged.drop('date_time', axis = 1, inplace=True)

In [287]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 1982 to 7053
Data columns (total 15 columns):
tweet_id              1987 non-null int64
timestamp             1987 non-null datetime64[ns]
source                1987 non-null object
text                  1987 non-null object
expanded_urls         1987 non-null object
rating_numerator      1987 non-null int64
rating_denominator    1987 non-null int64
name                  1987 non-null object
favorites             1987 non-null int64
retweets              1987 non-null int64
user_followers        1987 non-null int64
jpg_url               1987 non-null object
dogs_stage            1987 non-null object
pred_algo             1987 non-null object
conf_level            1987 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(7)
memory usage: 248.4+ KB

### 8. None and inaccurate strings found in 'name' column

In [288]:
lowercase_names = []
for row in df_merged['name']:
    if row[0].islower() and row not in lowercase_names:
        lowercase_names.append(row)
print(lowercase_names)

['a', 'an', 'quite', 'the', 'such', 'getting', 'actually', 'infuriating', 'very', 'light', 'space', 'just', 'by', 'officially', 'incredibly', 'one', 'my', 'not', 'this', 'unacceptable', 'his', 'all']

In [289]:
# Replace all names that start with a lowercase letter with NaN
df_merged['name'].replace(lowercase_names, 
                        np.nan,
                       inplace = True)

# Replace all 'None's with NaN
df_merged['name'].replace('None', 
                        np.nan,
                       inplace = True)

In [290]:
df_merged.name.value_counts()

Oliver         10
Cooper         10
Charlie        10
Lucy            9
Tucker          9
Penny           9
Winston         8
Sadie           8
Lola            7
Daisy           7
Toby            7
Jax             6
Bo              6
Bella           6
Stanley         6
Koda            6
Bailey          5
Scout           5
Oscar           5
Louis           5
Chester         5
Milo            5
Rusty           5
Dave            5
Buddy           5
Leo             5
Gus             4
Jerry           4
Larry           4
Alfie           4
               ..
Blu             1
Mauve           1
Brockly         1
Frönq           1
Maya            1
Roscoe          1
Lilly           1
Ziva            1
Tyrus           1
Bungalo         1
Monkey          1
Traviss         1
Kingsley        1
Shakespeare     1
Wishes          1
Petrick         1
Shiloh          1
Karma           1
Patch           1
Tassy           1
General         1
Eve             1
Cupid           1
Clifford        1
Eevee           1
Iggy            1
Barclay         1
Sora            1
Colin           1
Dido            1
Name: name, Length: 911, dtype: int64

### 9. Numerator and Denominator column has invalid values.

Some ratings with decimals such as 13.5/10, 9.5/10 have been incorrectly exported as 5/10 (in addition to other numbers with decimals such as 11.26 and 11.27).

Solution: Find all instances of ratings that contained decimals and replace the numerator values with the correct values.

In [291]:
# Obtain all text, indices, and ratings for tweets that contain a decimal 
# in the numerator of rating
ratings_with_decimals_text = []
ratings_with_decimals_index = []
ratings_with_decimals = []

for i, text in df_merged['text'].iteritems():
    if bool(re.search('\d+\.\d+\/\d+', text)):
        ratings_with_decimals_text.append(text)
        ratings_with_decimals_index.append(i)
        ratings_with_decimals.append(re.search('\d+\.\d+', text).group())

# Print the text to confirm presence of ratings with decimals        
ratings_with_decimals_text

['This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948',
 'Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD',
 "This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",
 "This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq"]

In [292]:
# Print the index of text with decimal ratings
ratings_with_decimals_index

[40, 3497, 2607, 4721]

In [293]:
# Changeing contents of 'rating_numerator' based on info found in preceeding 2 cells
df_merged.loc[ratings_with_decimals_index[0],'rating_numerator'] = float(ratings_with_decimals[0])
df_merged.loc[ratings_with_decimals_index[1],'rating_numerator'] = float(ratings_with_decimals[1])
df_merged.loc[ratings_with_decimals_index[2],'rating_numerator'] = float(ratings_with_decimals[2])
df_merged.loc[ratings_with_decimals_index[3],'rating_numerator'] = float(ratings_with_decimals[3])

In [294]:
# Check contents of row with index 40 to ensure the rating is corrected
df_merged.loc[40]

tweet_id                                             883482846933004288
timestamp                                           2017-07-08 00:28:19
source                                               Twitter for iPhone
text                  This is Bella. She hopes her smile made you sm...
expanded_urls         https://twitter.com/dog_rates/status/883482846...
rating_numerator                                                   13.5
rating_denominator                                                   10
name                                                              Bella
favorites                                                         43496
retweets                                                           9137
user_followers                                                  8653594
jpg_url                 https://pbs.twimg.com/media/DELC9dZXUAADqUk.jpg
dogs_stage                                                         None
pred_algo                                              golden_retriever
conf_level                                                     0.943082
Name: 40, dtype: object

In [295]:
# create new column with rating
df_merged['rating'] = df_merged['rating_numerator'] / df_merged['rating_denominator']

In [296]:
df_merged.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,favorites,retweets,user_followers,jpg_url,dogs_stage,pred_algo,conf_level,rating
1982,667435689202614272,2015-11-19 20:14:03,Twitter for iPhone,Ermergerd 12/10 https://t.co/PQni2sjPsm,https://twitter.com/dog_rates/status/667435689...,12.0,10,NaN,298,82,8653672,https://pbs.twimg.com/media/CUM1OHCW4AEgGSi.jpg,None,Rottweiler,0.999091,1.2
1981,667437278097252352,2015-11-19 20:20:22,Twitter for iPhone,Never seen this breed before. Very pointy pup....,https://twitter.com/dog_rates/status/667437278...,10.0,10,NaN,437,227,8653672,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,None,NaN,0.000000,1.0
1980,667443425659232256,2015-11-19 20:44:47,Twitter for iPhone,Exotic dog here. Long neck. Weird paws. Obsess...,https://twitter.com/dog_rates/status/667443425...,6.0,10,NaN,756,555,8653672,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,None,NaN,0.000000,0.6
1979,667453023279554560,2015-11-19 21:22:56,Twitter Web Client,Meet Cupcake. I would do unspeakable things fo...,https://twitter.com/dog_rates/status/667453023...,11.0,10,Cupcake,297,85,8653672,https://pbs.twimg.com/media/CUNE_OSUwAAdHhX.jpg,None,Labrador_retriever,0.825670,1.1
1978,667455448082227200,2015-11-19 21:32:34,Twitter Web Client,This is Reese and Twips. Reese protects Twips....,https://twitter.com/dog_rates/status/667455448...,7.0,10,Reese,184,57,8653672,https://pbs.twimg.com/media/CUNHMXTU8AAS3HH.jpg,None,Tibetan_terrier,0.676376,0.7

In [297]:
df_merged.shape

(1987, 16)

## Storing

In [298]:
#Store the clean DataFrame in a CSV file
df_merged.to_csv('twitter_archive_master.csv', 
                 index=False, encoding = 'utf-8')